
<!DOCTYPE html>
<html>
  <head>
    <title>HouseSalad</title>
    <%= csrf_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" title="reset" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <%= link_to "HouseSalad", root_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav pad14">
          <%= form_with url: search_path, method: :get, local: true, class: "form-inline" do |f| %>
            <div class="form-group search-field">
              <%= f.select :state, options_for_select(us_states) %>
              <%= f.submit 'Locate Members of the House', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </ul>
      </div>
    </nav>

    <section id="main">
    <%= yield %>
    </section>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
